# Database (MongoDB Connection URL - e.g. MongoDB Atlas or Local MongoDB)
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/urban_spice?retryWrites=true&w=majority"
JWT_SECRET="super-secret-pizza-pos-jwt-token-2026-key"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

